<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    {{>nav}}
    <div class="singleContainer">
        <h1>Loading..........</h1>
    </div>
    {{>footer}}
    <script src="/js/single.js"></script>
</body>

</html>