<footer>
        <div class="footer_container">
            <div class="footer">
                <div class="contact_f">
                    <h2>Contact Details</h2>
                    <div class="contact">
                        <div><i class="fa-soild fa-location-dot"></i><span>Gandhi Nagar Telibagh,Lucknow,Up</span></div>
                        <div><i  class="fa-soild fa-phone"></i><span>+91 7007703489</span></div>
                        <div><i  class="fa-soild fa-envelope"></i><span>geelucknow@gmail.com</span></div>
                    </div>
                </div>
                <div class="about_f">
                    <h2>Contact Details</h2>
                    <div class="about">
                        <div class="about_smg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate atque
                            aliquam eligendi quasi aliquid blanditiis quae consequuntur ex sunt magnam!</div>
                        <div class="about_links">
                            <a href="https://github.com/sandeepS200" target="_blank">
                               <img src="/img/circle_github.svg" alt="">
                            </a>
                            <a href="https://www.linkedin.com/in/sandeep-kumar-6bbaa5274" target="_blank">
                                 <img src="/img/circle_linkedin.svg" alt="">
                            </a>
                            <a href="http://surl.li/hbdwa">
                                 <img src="/img/circle_whatapp.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>